<h1>Search Product</h1>
<form method="post"> 
<input type="text" value="enter Product ID" name="id" />
<button class="btn btn-danger">Search</button>
</form>
<div>
    @if(ViewBag.hasData)
    {
    <h4>Product ID :  @ViewBag.productinf.Pid</h4> 
    <h4>Product Name :  @ViewBag.productinf.PName</h4> 
    <h4>Product Category :  @ViewBag.productinf.Category</h4> 
    <h4>Product InStock :  @ViewBag.productinf.PISinStock</h4> 
    <h4>Product Price :  @ViewBag.productinf.Price</h4> 
  
    }
</div>